    <div class="container">
        <table id="link1" class="display">
            <thead>
                <tr>
                    <th>Price </th>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.link1}}
                <tr>
                    <td>{{ this.price }}</td>
                    <td>{{ this.title }}</td>
                    <td>{{ this.date }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>


        <table id="link2" class="display">
            <thead>
                <tr>
                    <th>Price </th>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.link2}}
                <tr>
                    <td>{{ this.price }}</td>
                    <td>{{ this.title }}</td>
                    <td>{{ this.date }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>